<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban - Login</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="containerResgisterLongin">
        <h1>Login</h1>
        <form method="POST" action="/login" class="formRegisterLogin">
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Entrar</button>
        </form>

        <div class="register-link">
            <p>Não possui um registro? <a href="/register">Crie uma conta</a></p>
        </div>
    </div>
</body>
</html>